<h1 class="lead"><span>We build top-notch software for business</span></h1>
<div class="pure-g">
  <div class="pure-u-7-24 service">
    <h2>Talent to Ship Software</h2>
    <p style="margin-top: -1em;">We provide development teams to help other people and companies complete their software projects.</p>
  </div>
  <div class="pure-u-1-24 service"></div>
  <div class="pure-u-8-24 service">
    <h2>Wide and Deep Experience</h2>
    <p style="margin-top: -1em;">Veterans of hundreds of projects at dozens of companies. Leverage our experience to avoid mistakes and do it right the first time.</p>
  </div>
  <div class="pure-u-1-24 service"></div>
  <div class="pure-u-7-24 service">
    <h2>Full Stack, Front to Back</h2>
    <p style="margin-top: -1em;">Full service help with every facet of the development lifecycle and application stack.</p>
  </div>
</div>
<br />
