---
title: Software Development Firm, Syrinx
description: Syrinx is a developer-founded and run software development firm. We have spent the last 20 years building great software for our clients.
billboard: Software Solutions. Delivered.
---

<p class="billboard-buttons">
  <a href="/contact" class="buttonLink">Talk To Us <i class="fa fa-arrow-circle-right"></i></a>
</p>

<h1>Syrinx</h1>

<p class="lead">Syrinx is a developer-owned and run, custom software engineering firm with over 80 full-time engineers located in the United States. With concentrations in enterprise application development, big data, IoT, eCommerce & payments, mobile apps and much more, our two main delivery models are agile sourcing and custom project delivery. Syrinx's software development team is comprised of experts who understand, integrate and bring to life agile, scalable technology and business solutions for Fortune 500 companies. We have spent the last 20 years building great software for our clients and working with the latest technologies. We love building software and bringing it to market.</p>

<div id="features">
    <div class="pure-g feature-items">
        <div class="pure-u-1 pure-u-md-1-3 feature-item feature-item-1">
            <div class="item-wrap">
                <span class="item-icon"><i class="fa fa-university"></i></span>
                <h2 class="item-title">Top Talent</h2>
                <p class="item-text" style="max-width: 260px;margin-left: auto;margin-right: auto;">We provide development teams to help other people and companies complete their software projects.</p>
                <a href="/company" class="buttonLink">Meet the Team <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 feature-item feature-item-2">
            <div class="item-wrap">
                <span class="item-icon"><i class="fa fa-graduation-cap"></i></span>
                <h2 class="item-title">Breadth &amp; Depth of Experience</h2>
                <p class="item-text">Veterans of hundreds of projects at dozens of companies. Leverage our experience to avoid mistakes and do it right the first time.</p>
                <a href="/case-studies" class="buttonLink">View Our Work <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 feature-item feature-item-3">
            <div class="item-wrap">
                <span class="item-icon"><i class="fa fa-cubes"></i></span>
                <h2 class="item-title">Ability to Deliver</h2>
                <p class="item-text">Full-stack, front-to-back service help with every facet of the development lifecycle and application stack.</p>
                <a href="/contact" class="buttonLink">Talk To Us <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-5">
        <div class="imgHeading">
            <ul>
                <div>
                    <img src='/assets/img/services/Icon-Strategy.png' alt="Strategy Icon" />
                    <h2>End-to-End Strategy</h2>
                    <br/>
                </div>
                <div>
                    <img src='/assets/img/services/Icon-CustomSoftwareDev.png' alt="Custom Software Icon" />
                    <h2>Custom Software Development</h2>
                    <br />
                </div>
                <div>
                    <img src='/assets/img/services/Icon-Projects.png' alt="Projects Icon" />
                    <h2>Projects</h2>
                    <br />
                </div>
                <div>
                    <img src='/assets/img/services/Icon-TestingAndQuality.png' alt="Testing and Quality Icon" />
                    <h2>Testing & Quality</h2>
                </div>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-3-5">
        <div>
            <img src='/assets/img/services/Offering_infograph.png' style='width:100%;' alt="Syrinx Offering Infograph" />
        </div>
    </div>
</div>

<center>
    <p> Full stack, front-to-back, with a developer at the helm, we are commited to delivering robust, scalable, flexible, lightweight software solutions.</p>
</center>

<hr />

<div id="case-studies">
    <h2 class="h1">Case Studies</h2>
    <div class="pure-g case-study-items">
        <div class="pure-u-1 pure-u-md-1-3 case-study-item">
            <div class="item-wrap">
                <a href="/case-studies/cumberland-farms-smartpay.html" style="background-image: url('/assets/img/cases/cfg.jpg')">
                    <h3 class="item-title">Cumberland Farms Smartpay</h3>
                </a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 case-study-item">
            <div class="item-wrap">
                <a href="/case-studies/boston-federal-reserve.html" style="background-image: url('/assets/img/cases/fed.jpg')">
                    <h3 class="item-title">Boston Federal Reserve</h3>
                </a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 case-study-item">
            <div class="item-wrap">
                <a href="/case-studies/node-mongo.html" style="background-image: url('/assets/img/cases/node.jpg')">
                    <h3 class="item-title">Node/Mongo</h3>
                </a>
            </div>
        </div>
    </div>
    <hr />
</div>

<h2 class="h1" style="text-align: center;">Our Clients And Partners Fuel Our Innovations</h2>

<br />
<center>
<div class="imgBox" style="background-image: url('/assets/img/logos/ebay.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/paypal.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/verizon.jpg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/cumberland-farms.jpeg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/jn_phillips.png')"></div>

<div class="imgBox" style="background-image: url('/assets/img/logos/agero.jpeg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/monster.jpeg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/tsd.jpg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/gas_buddy.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/vistaprint.png')"></div>

<div class="imgBox" style="background-image: url('/assets/img/logos/gmo.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/baupost.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/fed.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/arbella.jpg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/raymond_james.jpg')"></div>

<div class="imgBox" style="background-image: url('/assets/img/logos/harvard_business_pub.jpg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/cengage.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/scholastic.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/learning_mate.jpeg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/curricilum.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/microsoft.jpg')"></div>
<div class="imgBox" style="background-image: url('/assets/img/logos/xamarin.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/partners/nutonian.png')"></div>
<div class="imgBox" style="background-image: url('/assets/img/partners/cardis.png')"></div>

</center>
<div style="clear: both;"></div>

