---
title: Big Data Services from Syrinx
billboard: What We Do
---

<h1>Big Data</h1>
<p class="lead">Syrinx has been working with Big Data since before it had a moniker. Our clients have consistently pushed the envelope in analyzing large data sets to glean information that helps them save money and time, prevent accidents, provide recommendations, and identify trends. We work with all modern tools (Hadoop, NoSQL, and every relational and unstructured data source imaginable) in order to build and maintain these valuable data sets in a timely manner. From a Proof of Concept to a full production implementation, we can help you unlock the power of the data in your enterprise.</p>
