<h1>Five Steps to Shipping Incredible Software</h1>

<ol>
  <li>Define Requirements</li>
  <li>Plan &amp; Scope Work</li>
  <li>Design &amp; Implementation</li>
  <li>QA &amp; Testing</li>
  <li>Release</li>
</ol>

<p>And don't worry, we don't stop there. We remain your trusted advisor throughout additional phases of work and continuous integrations.</p>

<h2>Our Approach</h2>

<p>We take a user-centric approach to software. We apply research and best practices to our processes. We set and agree to milestones for full transparency and to ensure quality at every turn.</p>

<p>We build software with reliability, scalability and time-to-market in mind. We love bringing software to market, what can we do for you?</p>

<hr />

<div class="pure-g">
  <div class="pure-u-10-24 service">
    <h2>Enterprise Application Development</h2>
    <p>We like to simplify the complexity surrounding Enterprise Application Development by taking steps to securely integrate apps in real-time with the ability to transfer data between disparate systems, public and private clouds, and third-party technologies. With technology rapidly evolving, we help organizations limit technology constraints by applying standardized best practices that lower costs and improve ROI.</p>
    <p>We understand big problems and we respond by delivering lightweight, agile solutions. From cradle to scale to rewrite - at any development stage - we make software better.</p>
  </div>
  <div class="pure-u-2-24 service"></div>
  <div class="pure-u-10-24 service">
    <h2>Mobile Development</h2>
    <p>Any business that wants to engage with its customers, attract new ones and remain agile to stay competitive in its given sector wants to take advantage of the rise of mobile.</p>
    <p>Our mobile development team is comprised of experts who understand the technology and work directly with your firm to create and deploy the unique, targeted app or apps that are ideal for your organization. And we understand that it's not just the technology that needs to function; it's integration, agility, scalability, inventory, marketing, and customer experience factors too. In fact, one of our clients has seen an incremental revenue increase of $100 million thanks to a mobile payment app we developed.</p>
  </div>
  <div class="pure-u-10-24 service">
    <h2>Web Services</h2>
    <p>Applications today are more connected and distributed than ever. It's not uncommon to have a handful of external connections per application in order to swap data or stay in sync with other systems around the globe. In order to help secure and manage these APIs, we work with many off-the-shelf and custom solutions. Our clients look to us for help in planning, developing, and implementing distributed solutions securely and seamlessly. We also bundle best in class testing to speed up and improve quality of both design and delivery.</p>
  </div>
  <div class="pure-u-2-24 service"></div>
  <div class="pure-u-10-24 service">
    <h2>Big Data</h2>
    <p>Syrinx has been working with Big Data since before it had a moniker. Our clients have consistently pushed the envelope in analyzing large data sets to glean information that helps them save money and time, prevent accidents, provide recommendations, and identify trends. We work with all modern tools (Hadoop, NoSQL, and every relational and unstructured data source imaginable) in order to build and maintain these valuable data sets in a timely manner. From a Proof of Concept to a full production implementation, we can help you unlock the power of the data in your enterprise.</p>
  </div>
  <div class="pure-u-10-24 service">
    <h2>Payments</h2>
    <p>The mobile payment market for goods and services, adopted globally, is worth hundreds of billions of dollars. The most obvious evidence of mobile payments' growing popularity can be seen in the sheer scope of consumer spending. Syrinx stands out in mobile payments and e-Commerce services by incorporating omnichannel demands, synchronization across in-store devices and a rich set of features that optimize your entire business from front-end customer experience to back-end logistics and inventory. We build apps with instantaneous information exchange amongst devices and all relevant databases; with synchronization built into the very foundation of the apps; and as such our apps delight users with an intuitive, independent usability. Mobile payments and apps will revolutionize the way your business operates.</p>
  </div>
  <div class="pure-u-2-24 service"></div>
  <div class="pure-u-10-24 service">
    <h2>Technology Services</h2>
    <p>Technology Services, frequently referred to as Staff Augmentation, is our most agile and popular entry-level service. Sometimes you want specific skillsets you don't possess in-house; or you have to deliver on-time and on-budget a mission-critical short-term project. Syrinx stands out from the crowd with a pool of highly-vetted talent whom we retain on-staff, and are made available for on-site client engagments. Our consultants are amongst the top talent in the industry and the majority of our clients end up working with them for additional and on-going projects long after the initial scope.</p>
    <p>If you're looking to achieve faster development and speed-to-market, improved quality of development projects, and avoid costs associated with internal training and skill development, Syrinx's Technology Services will answer your call and exceed expectations.</p>
  </div>
</div>

<!--
<h1 style="text-align: center;">Our Process</h1>
<h3>Meet</h3>
<p>We don't live in a one-size-fits-all world. So we won't forward you a slick PPT deck that has been sent to hundreds of prospects over the years bragging about a framework that works for everyone while stating "On time, under budget, every time." Come on, we all know that methane gas puts holes in the ozone layer. Instead we invest our time by sitting down with you to discuss what problems you're encountering, what you want to accomplish, and whether we're a good fit for each other. Yes, there is a human aspect to process.</p>
<h3>Share Ideas/Plan</h3>
<p>Once we've determined that there's enough chemistry for that elusive second date, we begin to share ideas. Our motto is simple: Ideas are easy and execution is challenging. We won't build you the coolest features with the latest and greatest technology stack just.</p>
<p>We map business objectives to other goals such as monetization, user feedback, launch and distribution strategies, etc. We also break down product lifecycles into manageable milestones so that you align your internal team's effort and expectations to ensure that everyone is on the same page because no one likes the type of "surprises" that happen on projects.</p>
<h3>Design</h3>
<p>From design mockups to layout, functionality, and look and feel we'll walk you through each step before coding anything. We'll also explain and map our designs and ideas to your objectives.</p>
<p>When wireframes inform the static mockup designs through layout, placement, and general functionality, whereas the static mockups inform the user interface in look, feel and execution. You'll be able to walk through your entire site, page by page, instance by instance, before anything is developed. Each set of assets are usually accompanied by a walk-through presentation to explain all the thinking that went behind every pixel.</p>
<h3>UX Design</h3>
<p>This is where the rubber meets the pavement and we get to see how theory combined with our best practices gets results. We use a combination of usability tools and technologies to gather, test, and analyze user behavior to ensure that your product is on a user-centric path. After all, it's not what the software does, it's what the user does.</p>
<p>See the results of all our research and best practices. We utilize a hybrid of in-house and remote usability technologies to collect behavioral information. We analyze that data to learn about what works and what doesn't. In addition to resolving immediate issues, the answers to these questions help set a user-centric product development path before and after rollout.</p>
<h3>Backend</h3>
<p>Yes, we do the back-end as well. We don't crush the UI and Design only to leave you hanging when it comes to actually making it work. Would you buy a car without an engine? Our back-end developers are involved from the beginning and collaborate with our designers, UX team, and our clients to ensure transparency while building trust between our teams.</p>
<h3>Performance</h3>
<p>Performance and scalability planning starts from the very beginning. You wouldn't buy a car without an engine, so why would you consider a Ferrari outfitted with a Volkswagen engine? Slow page load times kills the user experience which can be the difference between your business celebrating a huge win or racking up outrageous server costs.</p>
<h3>Integration</h3>
<p>We've been doing web services before the term even existed. Just ask Keith Ballinger our VP of Engineering, he was awarded a patent for web services and in 2003 authored and published, .NET Web Services: Architecture and Implementation.</p>
<p>We have built and interfaced with too many API's to count while integrating with everything. Of course we can also handle the latest and greatest 3rd party integrations such as Facebook, Twitter, YouTube, Google+, etc. And if we haven't done it yet, we can pick it up. We like to say that we specialize in Impossible Computing; difficult takes a day and impossible will take us a week or less.</p> -->
