syrinx_blue   = #085aa4
syrinx_orange = #fd9d27
// sketch = 'Cabin Sketch', cursive
sketch = cabin
cabin = 'Cabin', sans-serif
oswald = 'Oswald', sans-serif

body
  font-family: cabin
  line-height: 1.5em
  background-color: #333333
