@import "https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700"
@import "https://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic"
@import "https://fonts.googleapis.com/css?family=Oswald:700,300,400"

syrinx_blue   = #085aa4
syrinx_orange = #fd9d27
// sketch = 'Cabin Sketch', cursive
sketch = cabin
cabin = 'Cabin', sans-serif
oswald = 'Oswald', sans-serif

body
  font-family: cabin
  line-height: 1.5em
  background-color: #333333
