aside
  background-color: black
  text-align: center
  padding: 3em 1em

  h1,.h1
    color: white
    font-family: sketch
    font-size: 2em
    font-weight: bold
    margin: .67em 0
    display: inline-block

  a
    margin-left: 1.5em
    display: inline-block
    background-color: #fd9d27
    color: black
    text-decoration: none
    font-family: oswald
    padding: .67em 1em
    text-transform: uppercase
    transition: all 0.1s ease

    i
      font-size: 1.2em
      margin-left: .5em

    &:hover
      transform: scale(1.1, 1.1)

@media (max-width: 767px)
  aside
    padding-top: 1.5em
    h1,.h1
      display: block
      line-height: 1.33em
