#billboard
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  width: 100%
  height: 420px
  display: table

  @keyframes billboard-h1
    from
      font-size: .67em
    to
      font-size: 1em

  h1
    color: white
    margin: 0
    display: table-cell
    vertical-align: middle
    font-family: oswald
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black
    background-color: rgba(0, 0, 0, .5)
    font-size: 7em
    animation-name: billboard-h1
    animation-duration: .33s
    line-height: 1em
    padding: 0 1em
    letter-spacing: 2px

body.home #billboard
  background-image: url('assets/img/billboards/home.jpg')
  height: 540px
  h1:before
    content: "We Ship Software"
body.services #billboard
  background-image: url('assets/img/billboards/services.jpg')
  h1:before
    content: "What We Do"
body.case-studies #billboard
  background-image: url('assets/img/billboards/case_studies.jpg')
  h1:before
    content: "Our Work"
body.company #billboard
  background-image: url('assets/img/billboards/company.jpg')
  h1:before
    content: "Who We Are"
body.blog #billboard
  background-image: url('assets/img/billboards/blog.jpg')
  h1:before
    content: "Sharing Our Ideas"
body.jobs #billboard
  background-image: url('assets/img/billboards/jobs.jpg')
  h1:before
    content: "Work With Us"
body.contact #billboard
  background-image: url('assets/img/billboards/contact.jpg')
  h1:before
    content: "Get In Touch"
body.xamarin #billboard
  background-image: url('assets/img/billboards/contact.jpg')
  h1
    font-size: 5em
  h1:before
    content: "Everything you need to deliver great mobile apps"

@media (max-width: 1023px)
  #billboard
    height: 300px
    margin-bottom: -3em
    h1
      font-size: 5em
  body.home #billboard
    height: 360px

@media (max-width: 540px)
  #billboard
    h1
      font-size: 3em

p.billboard-buttons
  margin-top: -15em
  position: absolute
  width: 1024px
  text-align: center

  a.buttonLink
    float: none
    margin: 0 3em


@media (max-width: 1023px)
  p.billboard-buttons
    display: none
