#billboard
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  width: 100%
  height: 420px
  display: table

  @keyframes billboard-h1
    from
      font-size: .67em
    to
      font-size: 1em

  h1,.h1
    color: white
    margin: 0
    display: table-cell
    vertical-align: middle
    font-family: oswald
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black
    background-color: rgba(0, 0, 0, .5)
    font-size: 7em
    font-weight: bold
    animation-name: billboard-h1
    animation-duration: .33s
    line-height: 1em
    padding: 0 1em
    letter-spacing: 2px

body.home #billboard
  background-image: url('assets/img/billboards/home.jpg')
  height: 540px
  h1,.h1
    padding-bottom: .5em
body.services #billboard
  background-image: url('assets/img/billboards/services.jpg')
body.case-studies #billboard
  background-image: url('assets/img/billboards/case_studies.jpg')
body.company #billboard
  background-image: url('assets/img/billboards/company.jpg')
body.blog #billboard
  background-image: url('assets/img/billboards/blog.jpg')
body.jobs #billboard
  background-image: url('assets/img/billboards/jobs.jpg')
body.contact #billboard
  background-image: url('assets/img/billboards/contact.jpg')
body.notfound #billboard
  background-image: url('assets/img/billboards/notfound.jpg')
body.xamarin #billboard
  background-image: url('assets/img/billboards/contact.jpg')
  h1,.h1
    font-size: 4em
    @media (max-width: 1000px)
      font-size: 2.5em
    @media (max-width: 600px)
      font-size: 1.75em !important

@media (max-width: 1023px)
  #billboard
    height: 300px
    margin-bottom: -3em
    h1,.h1
      font-size: 5em
  body.home #billboard
    height: 360px

@media (max-width: 540px)
  #billboard
    h1,.h1
      font-size: 3em

p.billboard-buttons
  margin-top: -18em
  position: absolute
  width: 1024px
  text-align: center

  a.buttonLink
    float: none
    margin: 0 3em

  a.blogRotator
    clear: both
    display: inline-block
    margin-top: 4em
    background-color: rgba(255, 255, 255, .67)
    text-decoration: none
    padding: 3px 7px
    font-style: italic
    color: black

@media (max-width: 1110px)
  p.billboard-buttons
    display: none
