footer
  color: Gray
  font-size: .9em
  padding: 3em 0 1.5em 0
  text-align: center

  nav
    a
      display: inline-block
      color: white
      text-decoration: none
      font-weight: 600
      padding: 0 .5em
      margin: .8em 1em
      transition: all 0.1s ease

      &:hover
        transform: scale(1.1, 1.1)
        background-color: syrinx_orange
        color: #fff

  p#social
    font-size: 2em

    a i
      color: #fff
      margin: 0 .5em
      transition: all 0.1s ease

    a:hover i
      color: syrinx_orange
      transform: scale(1.5, 1.5)

  p:last-child
    font-size: .8em

@media (max-width: 767px)
  footer
    nav
      a
        display: block
        &:hover
          background-color: transparent
          color: GreenYellow
    p#social
      font-size: 1.5em
    p:last-child
      font-size: .7em
