header
  background-color: rgba(0, 0, 0, .8)
  height: 3.3em
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1

  img
    height: 50px
    width: 189px
    background-color: syrinx_blue
    margin-left: 1.5em
    padding: .5em
    box-shadow: 1px 1px 3px black
    transition: all 0.1s ease

    &:hover
      transform: scale(1.1, 1.1) rotate(-1deg)

  #bars
    display: none
    color: syrinx_orange
    float: right
    font-size: 2em
    margin-right: .33em
    margin-top: .33em

  nav
    float: right
    margin-right: .1em
    width: calc(100% - 250px)

    a
      display: inline-block
      font-size: 1.1em
      line-height: 1.5em
      color: white
      text-decoration: none
      padding: 0 .5em
      margin: .8em .5em
      font-weight: 600
      transition: all 0.1s ease

      &:hover
        color: syrinx_orange
        transform: scale(1.1, 1.1)

      &#contactLink
        background-color: white
        color: black
        float: right

body.home         a#homeLink,
body.services     a#servicesLink,
body.case-studies a#caseStudiesLink,
body.company      a#companyLink,
body.blog         a#blogLink,
body.jobs         a#jobsLink
  color: syrinx_orange
  border-bottom: 2px solid syrinx_orange

@media (max-width: 1023px)
  header
    #bars
      display: block
    nav
      display: none
      clear: both
      position: absolute
      top: 3.3em
      right: -2px
      background-color: transparent
      &.show
        display: block
      a
        margin: 0
        display: inline-block
        float: right
        clear: both
        background-color: rgba(0, 0, 0, .8) !important
        color: white !important
        text-align: right
        border-bottom: 0px !important
        padding: .33em .67em
        &:hover
          transform: none

@media (max-width: 540px)
  header
    position: absolute
    nav
      a
        font-size: 1em
