main
  background-color: white
  padding: 5em 0

article
  margin: auto
  max-width: 1024px
  padding: 0 1em

  h1, h2, .h1
    font-family: oswald
    line-height: 1em

  .h1
    font-size: 2em
    font-weight: bold
    margin: .67em 0

  @media (max-width: 767px)
    h1, .h1
      font-size: 1.8em
      text-align: left !important

  h6
    font-size: 1em
    font-family: oswald
    margin: 0

  a
    color: OrangeRed
    &.logoLink
      background-color: transparent !important
    &.textLink
      background-color: transparent !important
      color: black
    &:hover
      color: white
      //color: #000
      background-color: OrangeRed
      text-decoration: none

  .lead
    text-align: center
    text-transform: capitalize
    margin-bottom: 1.5em

    span
      background-color: DarkSlateBlue
      color: white
      padding: 0 .5em
      box-shadow: 1px 1px 3px #333

  p.lead
    text-align: left
    text-transform: none
    margin-bottom: 1em
    font-size: 1.5em
    line-height: 1.5em
    @media (max-width: 767px)
      font-size: 1.3em

  .buttonLink
    background-color: #fd9d27
    color: white
    text-decoration: none
    float: left
    padding: .5em 1em
    transition: all 0.1s ease
    @media (max-width: 767px)
      padding: .3em .67em
      margin-bottom: 1em

    i
      font-size: 1.2em
      margin-left: .5em

    &:hover
      color: #fff
      transform: scale(1.1, 1.1)

  .caseStudy
    width: 100%
    display: block
    text-decoration: none
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    box-shadow: 1px 1px 3px #333

    h1,.h1
      color: silver !important
      text-align: center
      line-height: 300px
      background-color: rgba(0, 0, 0, .67)
      transition: all .5s ease
      &:hover
        color: white !important
        text-shadow: 1px 1px 1px black
        background-color: rgba(0, 0, 0, .5)

  .profilePic
    float: right
    margin-left: 1em
    margin-bottom: 1em
    box-shadow: 1px 1px 3px black
    border-radius: 50%
    border: 1px solid silver
    padding: 3px

  p.meta
    font-style: italic
    font-size: .9em

    i
      color: DarkSlateBlue
      display: inline-block
      width: 1.5em

    span
      background-color: DarkSlateBlue
      color: white
      padding: 0 .33em
      box-shadow: 1px 1px 3px #333

  .apply-btn
    background-color: Yellow
    color: black !important
    text-decoration: none
    padding: .5em 1em
    margin-top: .5em
    display: inline-block
    font-family: 'Oswald', sans-serif
    box-shadow: 1px 1px 3px silver
    transition: all 0.1s ease
    box-shadow: 1px 1px 3px #333

    &:hover
      transform: scale(1.1, 1.1)
      background-color: GreenYellow !important

    i
      margin-left: .33em
      font-size: 1.2em

  #contact-form input, #contact-form textarea
    width: 100%
    margin-bottom: 2em

  #contact-form textarea
    height: 6em

  #contact-form label
    font-size: .75em
    font-family: 'Oswald', sans-serif
    color: silver

  .red
    color: red

  iframe
    margin-top: 2em
    margin-bottom: 2em

  p.date
    font-size: .9em
    font-style: italic
    margin-top: -1em

  blockquote
    p
      background-color: DarkSlateBlue
      display: inline-block
      color: white
      font-size: 1.5em
      line-height: 1.33em
      font-style: italic
      transform: rotate(-1deg)
      padding: 0 .5em
      box-shadow: 1px 1px 3px #333
      margin-bottom: 1em
      &:before
        content: "\201C"
      &:after
        content: "\201D"

  hr
    border: none
    border-top: 1px LightSteelBlue dashed
    margin: 3em 1.5em

  .service ul
    margin: 0
    padding: 0

  iframe.youtube
    float: right
    margin: 0 0 1em 1em
    @media (max-width: 767px)
      float: none

  video
    float: right
    border: 1px solid silver
    box-shadow: 1px 1px 3px silver
    padding: 3px
    margin: 1em 0 1em 1em
    width: 50%

.imgBox
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
  width: 15%
  height: 100px
  margin: 2.5%
  display: inline-block
  @media (max-width: 767px)
    width: 45%

body.blog main article
  p:first-of-type
    margin-bottom: 1em
    font-size: 1.5em
    line-height: 1.5em
    @media (max-width: 767px)
      font-size: 1.3em
  img
    float: right
    border: 1px solid silver
    transform: rotate(2deg)
    box-shadow: 1px 1px 3px silver
    padding: 3px
    margin: 1em 0 1em 1em
    max-width: 33%
    max-height: 300px
    transition: all 0.1s ease
    &:hover
      transform: scale(1.1, 1.1)

@media (max-width: 767px)
  main
    padding: 3em 0

body.xamarin
  i.fa-chevron-right
    color: #fd9d27

  ul
    list-style-type: none
    margin-left: 0
    padding-left: 0


  i.fa-check, i.fa-chevron-right
    color: #fd9d27
    margin-right: .5em
    text-shadow: 1px 1px 1px #999

  blockquote p
    font-size: 1.33em

  .screenshot
    float: right
    height: 10em
    margin-left: 1em
    margin-bottom: 3em
    transform: rotate(2deg)
    @media (max-width: 500px)
      display: block
      width: 80%
      height: auto
      padding: 0 10%
      margin-top: 0
      margin-bottom: 2em

  .straight
    transform: none
    height: 12em
    margin-top: -3em

  .left
    float: left
    margin-left: 0
    margin-right: 2em
    transform: rotate(-2deg)

  #xamarin-visual-studio-test-cloud
    margin-left: 44px;
    margin-top: -22px;

  #end-to-end
    margin-top: -11px;

.imgHeading
  img
    float: left
    width: 50px
    height: 50px

  h2
    position: relative
    top: 18px
    left: 10px

.more
  text-align: center

.more a
  font-weight: 700
  background-color: #fd9d27
  font-family: 'Oswald', sans-serif
  color: white !important
  text-decoration: none
  font-size: 1.33em
  padding: .33em .5em
  transition: all 0.1s ease
  display: inline-block
  box-shadow: 1px 1px 3px #333

.more a:hover
  transform: scale(1.1, 1.1)

.more a i
  margin-left: .33em
  font-size: 1.33em

@media (max-width: 767px)
  .mobile-hide
    display: none
