main
  background-color: white
  padding: 5em 0

article
  margin: auto
  max-width: 1024px
  padding: 0 1em

  h1, h2
    font-family: oswald
    line-height: 1em

  a
    color: OrangeRed
    &:hover
      color: white
      background-color: OrangeRed
      text-decoration: none

  .toAchive
    background-color: OrangeRed
    color: white
    text-decoration: none
    float: right
    padding: .5em 1em
    transition: all 0.1s ease

    i
      font-size: 1.2em
      margin-left: .5em

    &:hover
      transform: scale(1.1, 1.1)

  blockquote
    p
      background-color: DarkSlateBlue
      display: inline-block
      color: white
      font-size: 1.5em
      line-height: 1.33em
      font-style: italic
      transform: rotate(-1deg)
      padding: 0 .5em
      box-shadow: 1px 1px 3px #333
      margin-bottom: 1em
      &:before
        content: "\201C"
      &:after
        content: "\201D"

  hr
    border: none
    border-top: 1px LightSteelBlue dashed
    margin: 3em 1.5em

body.blog main article
  img
    float: right
    border: 1px solid silver
    transform: rotate(2deg)
    box-shadow: 1px 1px 3px silver
    padding: 3px
    margin: 1em 0 1em 1em
    max-width: 33%
    transition: all 0.1s ease
    &:hover
      transform: scale(1.1, 1.1)

@media (max-width: 767px)
  main
    padding: 3em 0
