.shim
  background-color: syrinx_blue
  height: 32px
  transform: rotate(-1deg)
  margin-top: -16px
  margin-bottom: -16px
  box-shadow: 0px 1px 3px #333

.shim.reversed
  transform: rotate(1deg)
  box-shadow: 0px -1px 3px #333
