<div class="pure-g">
  <div class="pure-u-1 pure-u-md-10-24">
    <h2>Why Our Clients Love Xamarin</h2>
    <ul>
      <li><i class="fa fa-chevron-right"></i> Best-in-class mobile lifecycle products</li>
      <li><i class="fa fa-chevron-right"></i> Speed-to-market means we ship better apps faster</li>
      <li><i class="fa fa-chevron-right"></i> Total quality</li>
    </ul>
  </div>
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-10-24">
    <h2>Syrinx Services Offered</h2>
    <ul>
      <li><i class="fa fa-chevron-right"></i> End-to-End Strategy &amp; Development</li>
      <li><i class="fa fa-chevron-right"></i> Projects</li>
      <li><i class="fa fa-chevron-right"></i> Quality</li>
      <li><i class="fa fa-chevron-right"></i> Augmentation</li>
    </ul>
  </div>
</div>

<blockquote>
  <p>Syrinx certified developers leverage Xamarin as a solution for every stage of the mobile lifecycle.</p>
</blockquote>

<a name="endtoend"></a>
<hr />
<h1>End-to-End <small>Strategy &amp; Development</small></h1>
<p>Our goal is to give clients a technological edge by building amazing apps. We act as a partner to our clients, gaining a keen understanding of not only the technology problem but the business opportunity at hand. Key to our delivery of highly innovative solutions is our CEO, Andrew Gelina, who is a developer himself. He loves bringing software to market and demonstrates this by developing creative, agile, scalable and cutting edge enterprise solutions for clients. Tell us your vision, your values, your goals and we'll bring it to life through amazing apps.</p>

<a name="projects"></a>
<hr />
<h1>Projects <small>Create native iOS, Android, Windows, and Mac apps in C#</small></h1>
<img class="screenshot" src="/assets/img/xamarin/platform.png" />
<p>Build native apps for multiple platforms on a shared C# codebase. Use the same IDE, language, and APIs everywhere.</p>
<ul>
  <li><i class="fa fa-check"></i> Native UI, native API access, and native performance</li>
  <li><i class="fa fa-check"></i> Anything you can do in Objective-C, Swift, or Java you can do in C# with Xamarin</li>
  <li><i class="fa fa-check"></i> Ship cutting-edge apps with same-day support for new OS release</li>
</ul>

<a name="quality"></a>
<hr />
<h1>Quality <small>Xamarin Insights</small></h1>
<img class="screenshot left" src="/assets/img/xamarin/insights.png" />
<p>Monitor the health of your apps and the happiness of your users. Catch every crash, see all of your users, and measure performance with the first monitoring service built exclusively for Xamarin apps.</p>
<ul>
  <li><i class="fa fa-check"></i> See which users are affected by each crash, and which crashes affect each user</li>
  <li><i class="fa fa-check"></i> Understand your audience, and how they interact with your app in every detail</li>
  <li><i class="fa fa-check"></i> Instrument your app to monitor real-world performance and keep your app fast</li>
</ul>

<a name="augmentation"></a>
<hr />
<h1>Augmentation <small>Take your mobile apps to the next level</small></h1>
<img class="screenshot straight" src="/assets/img/xamarin/accelerate.png" />
<p>Enhance your existing teams with expert Xamarin-certified developers. Get world-class mobile delivery of architecture, integration, security, and mobile best practices.</p>
<ul>
  <li><i class="fa fa-check"></i> Use Syrinx developers as your own mobile mavens </li>
  <li><i class="fa fa-check"></i> Optimize apps with expert help on performance and memory saving</li>
  <li><i class="fa fa-check"></i> Keep your apps amazing with ongoing code &amp; design reviews</li>
</ul>

<hr />

<p class="more">
  <a href="/assets/downloads/Syrinx%20Rise%20of%20Mobile%20Backend%20as%20a%20Service-%20White%20Paper-%202-23-16-2.pdf">Download the 'Rise of Mobile Backend as a Service' white paper <i class="fa fa-file-pdf-o"></i></a>
</p>
