---
title: Syrinx Client Case Study&#58; Agero
description: Since 2004 Syrinx has worked with Agero to develop cutting-edge systems to power roadside assistance, telematics, and vehicle safety features.
billboard: Our Work
---

<h1>Agero Case Study</h1>

<p class="lead">Since 2004 Syrinx has worked with Agero (formerly Cross Country Automotive) to develop cutting-edge systems to power roadside assistance, telematics, and vehicle safety features. From mobile to web to call center to back office, Syrinx has helped with every facet of the technology that powers Agero.</p>

<br />
