---
title: Cumberland Farms Smartpay Case Study
description: Syrinx built a mobile point-of-sale system for Cumberland Farms that allows their customers to find gas stations and pay at the pump.
billboard: Our Work
---

<h1>Cumberland Farms Smartpay Case Study</h1>

<p class="lead">Syrinx built a mobile point-of-sale system for Cumberland Farms that allows their customers to find gas stations and pay at the pump. High-performance iPhone, Android, and mobile HTML 5 clients connect to scalable cloud-based services that perform ACH, PayPal, and coupon management. SmartPay for Cumberland Farms is an industry leading mobile payment solution that has earned Cumberland Farms over nine digits in revenue.</p>

<p><a href="/assets/downloads/Cumberland.11.11.14.pdf" class="buttonLink">Download Case Study <i class="fa fa-arrow-circle-down"></i></a></p>

<br />
