<a class="caseStudy" style="background-image: url('/assets/img/cases/cfg.jpg')"><h1>Cumberland Farms Smartpay</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/fed.jpg')"><h1>Boston Federal Reserve</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/node.png')"><h1>Node/Mongo</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/jnp.png')"><h1>JN Phillips Auto Glass</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/age.jpg')"><h1>Agero</h1></a>
