<a class="caseStudy" style="background-image: url('/assets/img/cases/cfg.jpg')" href="/case-studies/cumberland-farms-smartpay.html"><h1>Cumberland Farms Smartpay</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/fed.jpg')" href="/case-studies/boston-federal-reserve.html"><h1>Boston Federal Reserve</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/node.jpg')" href="/case-studies/node-mongo.html"><h1>Node/Mongo</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/jnp.jpg')" href="/case-studies/jn-phillips-auto-glass.html"><h1>JN Phillips Auto Glass</h1></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/age.jpg')" href="/case-studies/agero.html"><h1>Agero</h1></a>
