---
title: Software Development Case Studies from Syrinx
description: Syrinx's case studies are meant to serve as a resource detailing the ins and outs of a breadth of issues relating to software development.
---

<h1>Our Work</h1>

<a class="caseStudy" style="background-image: url('/assets/img/cases/cfg.jpg')" href="/case-studies/cumberland-farms-smartpay.html"><h2 class="h1">Cumberland Farms Smartpay</h2></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/fed.jpg')" href="/case-studies/boston-federal-reserve.html"><h2 class="h1">Boston Federal Reserve</h2></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/node.jpg')" href="/case-studies/node-mongo.html"><h2 class="h1">Node/Mongo</h2></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/jnp.jpg')" href="/case-studies/jn-phillips-auto-glass.html"><h2 class="h1">JN Phillips Auto Glass</h2></a>
<a class="caseStudy" style="background-image: url('/assets/img/cases/age.jpg')" href="/case-studies/agero.html"><h2 class="h1">Agero</h2></a>
