<h1>JN Phillips Auto Glass</h1>

<p class="lead">"We wanted to harness the power of mobile technology to make our service delivery more efficient and real-time. We came to Syrinx with a workflow and some screen concepts of how we thought it should work. Syrinx provided complete "full stack" capability, from iterating on our drawings, to proof of concept field testing and hardware deployment, to developing the frontend and working with our internal developers to integrate with our existing CRM system.</p>

<p>They never said "you'll need another vendor for that", they got everything done for us. Leveraging their mobile expertise and decades of back end development experience, we brought our vision to reality in short order. Working with Syrinx has helped us to be first in the industry with a Technician Companion Tablet Application. The application has been fully deployed for over a year and has improved our on-time service delivery promise and customer satisfaction ratings. We could not be happier with their performance."</p>

<p>
  <strong>Maureen Confalone</strong><br />
  <em>Chief Financial Officer</em><br />
  JN Phillips Auto Glass
</p>

<p><a href="/assets/downloads/Jnphillips.4.29.15.pdf" class="buttonLink">Download Case Study <i class="fa fa-arrow-circle-down"></i></a></p>

<br />
