---
title: Boston Federal Reserve Case Study by Syrinx
description: Syrinx built an advanced, native iPad application that connects and displays data sources for the Boston Federal Reserve’s research division.
billboard: Our Work
---

<h1>Major National Bank Case Study</h1>

<p class="lead">Syrinx built an advanced, native iPad application for the Major National Bank's research division. This application connects with and displays thousands of data sources in an easy to use manner, and works offline and online seamlessly.</p>

<br />
