---
title: Node/Mongo Case Study by Syrinx
description: Syrinx built a real-time retail analytics and mobile backend as a service for one the world’s largest telecommunication providers.
billboard: Our Work
---

<h1>Node/Mongo Case Study</h1>

<p class="lead">Syrinx built a real-time retail analytics and mobile backend as a service for one the world’s largest telecommunication providers. Using node.js and mongo, and interacting with multiple location technologies (including NFC and BTLE), this system will be powering some of the most complex retail-based mobile apps in the coming years.</p>

<br />
