@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:700,300,400);

body {
  font-family: 'Cabin', sans-serif;
  line-height: 1.5em;
  font-size: 1.1em;
  background-color: #333333;
}

h1, h2, h6 {
  font-family: 'Oswald', sans-serif;
}

h6 {
  font-size: 1em;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px LightSteelBlue dashed;
  margin: 2em 1.5em;
}

div#navbar {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 3.3em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

div#navbar img#logo {
  height: 50px;
  background-color: #085aa4;
  margin-left: 1.5em;
  padding: .5em;
  box-shadow: 1px 1px 3px black;
  transition: all 0.1s ease;
}

div#navbar img#logo:hover { transform: scale(1.1, 1.1) rotate(-1deg); }

div#navbar img#xamarinLogo {
  height: 50px;
  background-color: #2d3e4f;
  margin-right: 1.5em;
  padding: .5em;
  box-shadow: 1px 1px 3px black;
  transition: all 0.1s ease;
  float: right;
}

div#navbar img#xamarinLogo:hover { transform: scale(1.1, 1.1) rotate(1deg); }

div#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  left: 0;
}

div#navbar ul li { display: inline; }

div#navbar ul li a {
  line-height: 1.5em;
  font-size: 1.1em;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0 .5em;
  margin: .8em 1em;
  font-weight: 600;
  transition: all 0.1s ease;
}

div#navbar ul li a:hover { color: #fd9d27; }

div#navbar ul li a.active {
  color: #fd9d27;
  border-bottom: 1.5px solid #fd9d27 ;
}

div#navbar ul li a.btn {
  background-color: #fd9d27;
  color: black;
}

div#navbar ul li a:hover { transform: scale(1.1, 1.1); }

#content {
  background-color: white;
}

#content a {
  color: #fd9d27;
  transition: all 0.1s ease;
}

#content a:hover {
  background-color: #fd9d27;
  color: white;
  text-decoration: none;
}

div.billboard {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 100px;
  overflow-y: hidden;
  width: 100%;
  display: table;
}

@keyframes fade {
    from { font-size: .67em; }
    to { font-size: 1em; }
}

div.billboard h1 {
  padding: 1.5em 0 .8em 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Cabin Sketch', cursive;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, .5);
  animation-name: fade;
  animation-duration: .33s;
  font-size: 4em;
  line-height: 1em;
}

div.billboard h1 small {
  display: block;
  color: white !important;
  opacity: .8;
  text-transform: lowercase;
}

div.shim {
  background-color: DeepSkyBlue;
  height: 2em;
  /*transform: rotate(-1deg);*/
  margin-top: -1em;
  margin-bottom: 3em;
  box-shadow: 1px 1px 3px #333;
}

div.shim.reversed {
  background-color: DeepSkyBlue;
  height: 2em;
  /*transform: rotate(1deg);*/
  /*margin-bottom: 0em;*/
  margin-top: 3em;
  box-shadow: -1px -1px 3px #333;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  /*padding-top: 1em;*/
  /*padding-bottom: 14em;*/
}

#content ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

i.fa-chevron-right {
  color: #fd9d27;
}

i.fa-check, i.fa-chevron-right, i.fa-circle {
  color: #fd9d27;
  margin-right: .5em;
  /*text-shadow: 1px 1px 1px #999;*/
}

i.fa-circle {
  /*font-size: .67em;*/
  margin-top: -3px;
}

blockquote {
  font-size: 1.33em;
  line-height: 1.5em;
  font-style: italic;
  background-color: DarkSlateBlue;
  color: white;
  transform: rotate(-1deg);
  display: inline-block;
  padding: 0 1em;
  box-shadow: 1px 1px 3px #333;
}

#content h1 small {
  color: DarkSlateBlue;
  font-weight: normal;
}

.screenshot {
  float: right;
  height: 10em;
  margin-left: 1em;
  margin-bottom: 1em;
  transform: rotate(2deg);
}

.straight {
  transform: none;
  height: 12em;
}

.left {
  float: left;
  margin-left: 0;
  margin-right: 2em;
  margin-bottom: 2em;
  transform: rotate(-2deg);
}

.more {
  text-align: center;
}

.more a {
  font-weight: 700;
  background-color: #fd9d27;
  font-family: 'Oswald', sans-serif;
  color: white !important;
  text-decoration: none;
  font-size: 1.33em;
  padding: .33em .5em;
  transition: all 0.1s ease;
  display: inline-block;
  box-shadow: 1px 1px 3px #333;
}

.more a:hover { transform: scale(1.1, 1.1); }

.more a i {
  margin-left: .33em;
  font-size: 1.33em;
}

#callToAction {
  background-color: black;
  color: white;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: -1em;
  text-align: center;
}

#callToAction h1 {
  font-family: 'Cabin Sketch', cursive;
  display: inline-block;
}

#callToAction a {
  margin-left: 1.5em;
  display: inline-block;
  color: black;
  background-color: Yellow;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  padding: 1em;
  text-transform: uppercase;
  margin-top: -1em;
  transition: all 0.1s ease;
}

#callToAction a:hover {
  transform: scale(1.1, 1.1);
  background-color: Yellow;
  color: black;
}

#callToAction a i {
  font-size: 1.2em;
  margin-left: .5em;
}

.footer {
  background-color: #333333;
  color: Gray;
  font-size: .9em;
  padding-bottom: 1.5em;
  text-align: center;
  margin-top: 3em;
  padding-top: .5em;
  margin-top: -3.4em;
}

.footer #social {
  color: white;
  font-size: 2em;
}

.footer #social a i {
  margin: 0 .5em;
  color: DeepSkyBlue;
  opacity: .5;
  transition: all 0.1s ease;
}

.footer #social a:hover {
  background-color: transparent;
}

.footer #social a:hover i {
  transform: scale(1.5, 1.5);
  opacity: 1;
}

.footer p:last-child {
  font-size: .8em;
}
